---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="About" description="">
  <section class="my-12">
    <div class="container">
      <h1>About</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container text-2xl">
      <p>Current Location: Philadelphia, US</p>
      <p><a href="/resume.pdf">Professional Resume</a></p>
      <p>
        I am a full stack software engineer–most recently in Rails 6 and Angular 15–with experiences in startup
        positions and on large teams. I have a proven track record of getting up to speed on a given project quickly and
        efficiently. I have experience leading projects, mentoring individuals, and implementing new features from loose
        specifications.
      </p>
      <p>
        I am a hard worker. I care deeply about the quality of the things I work on and about fostering positive,
        professional, team-based relationships with my co-workers. When it comes to software development, I make an
        effort to maintain, fix, and improve the product whenever possible, while keeping in mind the prioritization and
        scope of my current tasks.
      </p>
      <p>
        The reason I enjoy working in the tech industry so much is that the baseline for success is to improve my
        knowledge of tooling, learn new skills, and be challenged by differing philosophies. While some tasks may be
        tedious in isolation, in the long run I never feel bored and derive joy from solving the problems presented to
        me or that I discover.
      </p>
      <p>
        In addition to my profession, I enjoy juggling, backcountry backpacking, local ecologies, bicycles, making art,
        and building things with my hands.
      </p>
    </div>
  </section>
</DefaultLayout>
