---
import { Media } from 'accessible-astro-components'

const { imgSrc, reverseImg = false } = Astro.props
---

<section class="my-20">
  <div class="container">
    <div class="grid grid-cols-1 gap-8 md:gap-20 md:grid-cols-2">
      <Media class={`rounded-lg ${reverseImg ? 'md:order-2': ''}`} src={imgSrc} />
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
    </div>
  </div>
</section>
